{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Reservations</h1>
    <p>Page en construction</p>
</div>
{% endblock %}
