{% extends 'base.html.twig' %}

{% block title %}New Property{% endblock %}

{% block body %}
<main class="main">
     <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Properties</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li class="current">New Property</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card p-4">

                        {{ include('property/_form.html.twig', {'button_label': 'Save Property'}) }}

                        <div class="mt-4">
                            <a href="{{ path('app_property_index') }}" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-left"></i> Back to List
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
